---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const dropdown = document.querySelector(".masthead__menu-item.dropdown");

        let timeout;

        dropdown.addEventListener("mouseenter", () => {
          clearTimeout(timeout);
          dropdown.classList.add("open");
        });

        dropdown.addEventListener("mouseleave", () => {
          timeout = setTimeout(() => {
            dropdown.classList.remove("open");
          }, 300);
        });

        const menu = dropdown.querySelector(".dropdown-menu");
        if (menu) {
          menu.addEventListener("mouseenter", () => {
            clearTimeout(timeout);
          });

          menu.addEventListener("mouseleave", () => {
            timeout = setTimeout(() => {
              dropdown.classList.remove("open");
            }, 300);
          });
        }
      });
    </script>

  </body>
</html>
